<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <h1>Play Wordle</h1>
    <div class="container container1">
        <h2>add used words</h2>
        {% block content %}{% endblock %}
        <h2>How to play</h2>
        <p>Quess the Wordle in 6 tries. Each guess must be a valid 5-letter word.
            The color of the tiles will change to show how close your guess was to the word. 
            If a letter is in the word but in the wrong position, it is marked with a yellow background. 
            If a letter is in the word and in the correct position, it is marked with a green background. 
            If a letter is not in the word, it is marked with a gray background.
</p>
    </div>

</body>
</html>