{% extends 'wordle/layout.html' %}

{% block content %}
<div class="game-container">
  {% for guess in guesses %}
  <div class="row">
  {% for guess_index in guess %}
    {% if guess_index[1] == 'green' %}
      <input type="text" maxlength="1" value={{guess_index[0]}} class="cell cell-green" disabled/>
    {% endif %}

    {% if guess_index[1] == 'yellow' %}
      <input type="text" maxlength="1" value={{guess_index[0]}} class="cell cell-yellow" disabled/>
    {% endif %}

    {% if guess_index[1] == 'red' %}
      <input type="text" maxlength="1" value={{guess_index[0]}} class="cell cell-red" disabled/>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
   <form action="{{url_for('main')}}" method="POST">
        {{form.guess}}
        {% if form.guess.errors %}
            {% for error in form.guess.errors %}
                <span style="color: red;">{{error}}</span>
            {% endfor %}
        {% endif %}
        {{form.submit()}}

     </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const firstCell = document.querySelector('.row .cell');
    firstCell.focus();
});
</script>

{% endblock %}